<span class="left">Welcome, <%= userName %></span>

<ul class="tabs tabs-transparent center">
    <li class="tab"><a href="#collection">Collection</a></li>
    <li class="tab"><a href="#comments">Comments</a></li>
    <li class="tab"><a href="#slide-show">Slide Show</a></li>
</ul>

<div id="collection" class="col s12 center">
    <h4>My Collection</h4>
    <div class="row">
        <% user.faves.forEach( f =>{ %>
            <div class="col l3 m6 s12">
                <% if (f.url.substring(8,11) === 'www') { %> 
                    <iframe class="cover" src="<%= f.url %>" height="200"></iframe>
                <% } else { %> 
                    <img class="cover" src="<%= f.url %>" alt="<%= f.date %>" height="200">
                <% } %> 

                <p><%= f.date %></p>

                <div class="flex">
                    <a class="profile-btn" href="/detail?date=<%= f.date %>">
                        <button>View</button>
                    </a>
                    <form class="profile-btn" method="POST" action="/profile/<%= f.id %>/?_method=DELETE"">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %> 
    </div>
</div>

<div id="comments" class="col s12 container">
    <ul class="collection with-header">
        <li class="collection-header center"><h4>My Comments</h4></li>
        <% if (user.comments.length) { %> 
            <% user.comments.forEach(c => { %> 
                <li class="collection-item">
                    <div>
                        <span><%= c.date %></span>
                        <span><%= c.content %></span>
                        <form class="secondary-content" method="POST" action="/profile/comment/<%= c.id %>/?_method=DELETE">
                            <button type="submit">Delete</button>
                        </form>
                        <a href="/detail?date=<%= c.date %>#comment" class="secondary-content">
                            <button>View</button>
                        </a>
                    </div>
                </li>
            <%}) %> 
        <% } else { %> 
            <li class="collection-item"><div>You have no comments yet</div></li>
        <% }%>
    </ul>
</div>

<div id="slide-show" class="col s12">
    Slide-Show
</div>
