
<h5>Welcome, <%= userName %> </h5>
<div class="center">
    <h4>My Gallery</h4>
    <div class="row">
        <% faves.forEach( f =>{ %>
            <div class="col l3 s6">
                <a href="/profile/<%= f.id %>">
                    <img class="cover" src="<%= f.url %>" alt="<%= f.date %>" height="200">
                </a>
                <p><%= f.date %></p>
                <form method="POST" action="/profile/<%= f.id %>/?_method=DELETE"">
                    <input hidden type="text" name="id" value="<%= f.id %>">
                    <button type="submit">Delete</button>
                </form>
            </div>
        <%}) %> 
    </div>
</div>



