<div class="">
    <div class="">
    <% if (apod.hdurl && apod.media_type === 'image') { %> 
        <img class="cover" src="<%= apod.hdurl %>" alt="astronomy picture of today" height="500">
    <% } else if (apod.url && apod.media_type === 'video') { %> 
        <iframe class="cover" src="<%= apod.url %>" height="500"></iframe>
    <% } else { %> 
        <img src="https://http.cat/204" alt="Cannot Find Content">
    <% } %> 
    </div>
    <div class="info right-align">
        <h4><%= apod.date %></h4>
        <h5><%= apod.title %></h5>
        <div class="">    
        <form method="POST" action="/profile">
            <input hidden type="date" id="date" name="date" value="<%= apod.date %>">
            <% if (apod.hdurl) { %>
                <input hidden type="text" id="url" name="url" value="<%= apod.hdurl %>">
            <% } else { %> 
                <input hidden type="text" id="url" name="url" value="<%= apod.url %>">
            <% } %> 
            <button class="btn waves-effect waves-light red lighten-2" type="submit">Add to Favorite</button>
        </form>        
        <form method="GET" action="/detail">
            <input hidden type="date" id="date" name="date" value="<%= apod.date %>">
            <button class="btn waves-effect waves-light deep-orange lighten-2" type="submit">See More Information</button>
        </form>
        </div>
    </div>
</div>

<div class="slider">
    <ul class="slides">
        <% gallery.forEach( g => { %>
            <% if (g.url && g.media_type === 'image') { %> 
                <li>
                    <img src="<%= g.url %>" alt="<%= g.date %>">
                    <div class="caption left-align text-shadow">
                        <h4><%= g.date %></h4>
                        <h5 class="light grey-text text-lighten-3"><%= g.title %></h5>
                    </div>
                </li>
            <% } %>
        <% }) %>
    </ul>
</div>
            
<div class="row">
    <% gallery.forEach( g => { %>
        <div class="col l4 m6 s12 center">

            <% if (g.url && g.media_type === 'image') { %> 
                <img class="cover" src="<%= g.url %>" alt="<%= g.date %>" height="300">
            <% } else if (g.url && g.media_type === 'video') { %> 
                <iframe class="cover" src="<%= g.url %>" height="300"></iframe>
            <% } else { %> 
                <img class="cover" src="https://http.cat/204" alt="Cannot Find Content" height="300">
            <% } %>

            <p><%= g.date %></p>
            <p><%= g.title %></p>
            
            <div class="row">
                <div class="col s6">
                    <form method="POST" action="/profile">
                        <input hidden type="date" id="date" name="date" value="<%= g.date %>">
                        <% if (g.hdurl) { %>
                            <input hidden type="text" id="url" name="url" value="<%= g.hdurl %>">
                        <% } else { %> 
                            <input hidden type="text" id="url" name="url" value="<%= g.url %>">
                        <% } %> 
                        <button class="gallery-btn btn waves-effect waves-light red lighten-2" type="submit">Add to Favorite</button>
                    </form>  
                </div>
                <div class="col s6">
                    <form method="GET" action="/detail">
                        <input hidden type="date" id="date" name="date" value="<%= g.date %>">
                        <button class="gallery-btn btn waves-effect waves-light deep-orange lighten-2" type="submit">View Information</button>
                    </form>
                </div>                
            </div>
        </div>
    <% }) %> 
</div>

<div class="row text-shadow-light center">
    <div class="col m4 s12">    
        <a href="/mars"><h5>Explore Mars Rover Photos</h5></a>
    </div>
    <div class="col m4 s12">
        <a href="#top"><h5>Back To Top</h5></a>
    </div>
    <div class="col m4 s12">
        <a href="/gallery"><h5>See More Photos in Gallery</h5></a>
    </div>
</div>